* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Open sans', sans-serif;
}

:root{
  --bg-color: #10101a;
  --main-color: #2fbf71;
  --2nd-main-color: #ffffffcc;
  --text-color: #ffff;
  --big-font: 5rem;
  --h2-font: 1.9rem;
  --p-font: 1rem;
}

body{
  height: 100vh;
  background-color: var(--bg-color);
  color: var(--text-color);
  background-image: url('https://images.unsplash.com/photo-1681505318756-11d0ccd514be?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1674&q=80');
  background-size: cover;
  background-position: center;
}

li{
  list-style: none;
}

a{
  text-decoration: none;
  color: var(--text-color);
  font-size: 1rem;
}

a:hover {
  color: var(--main-color);
}

/* header */

header{
  position: relative;
  padding: 0 2rem;
}

.navbar{
  width: 100%;
  height: 60px;
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navbar .logo a{
  font-size: 1.5rem;
  font-weight: bold;
}

.navbar .links {
  display: flex;
  gap: 2rem;
}

.navbar .toggle_btn{
  color: var(--text-color);
  font-size: 1.5rem;
  cursor: pointer;
  display: none;
}

.action_btn{
  background-color: #2fbf71;
  color: var(--text-color);
  padding: 0.5rem 1rem;
  border: none;
  outline: none;
  border-radius: 20px;
  font-size: 0.8rem;
  font-weight: bold;
  cursor: pointer;
  transition: scale .2 ease;
}

.action_btn:hover{
  scale: 1.05;
  color: var(--bg-color);
}

.action_btn:active{
  scale: 0.95;
}

.dropdown_menu{
  display: none;
  position: absolute;
  right: 2rem;
  top: 60px;
  width: 300px;
  height: 0;
  background-color: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(15px);
  border-radius: 15px;
  overflow: hidden;
  transition: height 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.dropdown_menu.open{
  height: 280px;
}

.dropdown_menu li{
  padding: 0.7rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.dropdown_menu .action_btn{
  width: 100%;
  display: flex;
  justify-content: center;
}

/* text */



span{
  color: var(--main-color);
}

footer {
  display: flex;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  color: white;
  margin-top: 66.3vh;
  line-height: 1.8rem;
  backdrop-filter: blur(200px);
}

.social-links a {
  color: #fff;
  text-decoration: none;
  margin-right: 10px;
}

.address p, .copyright p {
  margin: 0;
}

/* about us */

.center{
  text-align: center;
}
.center h3{
  color: var(--text-color);
  font-size: 30px;
  font-weight: 300;
  letter-spacing: 6px;
}
.service-content{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, auto));
  grid-gap: 2rem;
  align-items: center;
  margin-top: 4.4rem;
  backdrop-filter: blur(30px);
}
.row{
  padding: 60px;
  border-radius: 5px;
  cursor: pointer;
  transition: all .40s;
}
.row i{
  color: var(--main-color);
  font-size: 3rem;
  margin-bottom: 20px;
}
.row h3{
  font-size: 1.25rem;
  font-weight: 500;
  margin-bottom: 20px;
  color: var(--text-color);
}
.row p{
  font-size: 18px;
  color: var(--2nd-main-color);
  line-height: 30px;
}
.row:hover{
  transform: translateY(-15px);
  box-shadow: 0px 15px 30px 0px rgb(red, green, blue);
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #444;
  padding: 10px;
}

.dropdown:hover .dropdown-content {
  display: block;
}

@media (max-width: 900px) {
  .navbar .links,
  .navbar .action_btn {
    display: none;
  }
  .navbar .toggle_btn{
    display: block;
  }

  .dropdown_menu{
    display: block;
  }
}

@media (max-width: 500px) {
  .dropdown_menu{
    left: 2rem;
    width: unset;
  }
}